In [35]:
from matplotlib import pyplot as plt
import seaborn as sns

In [36]:
sns.load_dataset('geyser')

     duration  waiting   kind
0       3.600       79   long
1       1.800       54  short
2       3.333       74   long
3       2.283       62  short
4       4.533       85   long
..        ...      ...    ...
267     4.117       81   long
268     2.150       46  short
269     4.417       90   long
270     1.817       46  short
271     4.467       74   long

[272 rows x 3 columns]

# Load the data

In [37]:
sns.get_dataset_names() # requires bs4
mpg_df = sns.load_dataset("geyser")
mpg_df.head()

   duration  waiting   kind
0     3.600       79   long
1     1.800       54  short
2     3.333       74   long
3     2.283       62  short
4     4.533       85   long

# Summarize your insights at bottom of notebook

In [38]:
four_cylinders = mpg_df[mpg_df.cylinders == 4]
mpg_by_origin = four_cylinders.groupby("waiting", as_index=False).geyser.mean()
# sns.barplot(x="waiting",y="mpg",data=mpg_by_origin)
mpg_by_origin

AttributeError: 'DataFrame' object has no attribute 'cylinders'